%notch-inset-shared {
  padding: 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.notch-inset-item {
  @extend %notch-inset-shared;
}

.notch-inset {
  @extend %notch-inset-shared;
  padding-bottom: env(safe-area-inset-bottom);
}
